# Ignore entire GMM_STAN_cache folder
GMM_STAN_cache/

# Ignore entire GMM_STAN_files folder
MM_STAN_files/

consts.json
__pycache__
.DS_Store
.Rhistory
.ipynb_checkpoints
*.Rproj
*.Rproj.user
Rproj.user
*.html
*.pdf
TCGA Retrieval/MANIFEST.txt

Gaussian Mixture Model/GMM_STAN_files
Gaussian Mixture Model/TARGET_GMM_STAN.pdf

Analysis/.ipynb_checkpoints/Estimate Ages-checkpoint.ipynb
Select_fCpGs/.DS_Store
Analysis/.ipynb_checkpoints/Analysis-checkpoint.ipynb
*/.ipynb_checkpoints/*
Analysis/.ipynb_checkpoints/Analysis-checkpoint.ipynb
Analysis/Analysis.Rproj

figures
.gitattributes
TCGA Retrieval/results.rds
Analysis/splits
refactoring-to-do.txt
.Rproj.user
config.json
1. Simulation/send*
