# Ignore entire GMM_STAN_cache folder
GMM_STAN_cache/

# Ignore entire GMM_STAN_files folder
MM_STAN_files/

consts.json
__pycache__
*/.DS_Store
*/*/.DS_Store
.Rhistory
.ipynb_checkpoints
*/.ipynb_checkpoints
Select_fCpGs/.DS_Store

Analysis/.DS_Store
.DS_Store
*.pdf
.Rproj.user
/Analysis/.ipynb_checkpoints
TCGA Retrieval/MANIFEST.txt
Select_fCpGs/.DS_Store
Select_fCpGs/.DS_Store
TCGA Retrieval/TCGA Retrieval.Rproj

Gaussian Mixture Model/GMM_STAN_files
Gaussian Mixture Model/TARGET_GMM_STAN.pdf

Analysis/.ipynb_checkpoints/Estimate Ages-checkpoint.ipynb
Select_fCpGs/.DS_Store
Analysis/.ipynb_checkpoints/Analysis-checkpoint.ipynb
*/.ipynb_checkpoints/*