# Ignore entire GMM_STAN_cache folder
GMM_STAN_cache/

# Ignore entire GMM_STAN_files folder
MM_STAN_files/

consts.json
__pycache__
.DS_Store
.Rhistory
.ipynb_checkpoints
Select_fCpGs/.DS_Store
/Gaussian Mixture Model/GMM_STAN_files
Gaussian Mixture Model/TARGET_GMM_STAN.pdf
